body{
    background:#FEFEFE;


}
*{
    margin:0;
    padding:0;
    list-style:none;
}
.footer{
    width:7.5rem;
    height:0.98rem;
    padding:0 0.24rem;
    border-top:0.01rem solid #D7D7D7;
    box-sizing: border-box;
    position: fixed;
    bottom:0;
    text-align: center;
    line-height: 0.98rem;
    background:-webkit-linear-gradient(left,#FF3333 55%,#FF7A18);
    background:linear-gradient(left,#ff3333,#ff7a18);
    color:white;
    font-size:0.4rem;
    margin:0 auto;   

}
.header{
    width:7.5rem;
    height:0.88rem;
    background:-webkit-linear-gradient(left,#FF3333 55%,#FF7A18);
    background:linear-gradient(left,#ff3333,#ff7a18);
    text-align: center;
    line-height:0.88rem;
    font-size:0.36rem;
    color:white;
    font-weight:bold;
    position: fixed;
    top:0;
    left:0;
    box-sizing: border-box;
}
.header .iconfont{
    font-size:0.4rem;
    color:white;
    position: absolute;
    left:0.24rem;
    top:0.06rem;

}
/*头部颜色快*/
.ys{
    width:7.5rem;
    height:1.8rem;
    background:-webkit-linear-gradient(left,#FF3333 55%,#FF7A18);
    background:linear-gradient(left,#ff3333,#ff7a18);
   
}
/*地址快*/
.dz{
    width:7.02rem;
    height:2.48rem;
    box-sizing: border-box;
    margin:-0.48rem auto 0;
    border-radius:0.14rem;
    box-shadow:0 0 0.2rem 0.02rem #ffe9e6;
    position: absolute;
    left:0;
    right:0;
    margin:auto;
    top:1.3rem;
    background:white;
}
.dz .top{
    width:6.38rem;
    height:1rem;
    box-sizing:border-box;
    margin:0 auto;
    border-bottom:0.01rem solid #e5e5e5;
    display:flex;
    justify-content:space-between;
    text-align:center;
    align-items:center;
}
.dz .top .d{
    color:#4c4c4c;
    font-size:0.3rem;
}
.dz .top .iconfont{
    color:#999;
    font-size:0.3rem;
}
.dz .bottom{
    width:6.38rem;
    height:1.04rem;
    box-sizing:border-box;
    margin:0.28rem auto 0;
    display:flex;
    justify-content:space-between;
}
.dz .bottom .left{
height:1.04rem;
width:auto;
}
.dz .bottom .left .sh,.dz .bottom .left .dh{
    color:#999;
    font-size:0.24rem;
    line-height:0.3rem;
}
.dz .bottom .left .dh{
    margin-top:0.06rem;
}
.dz .bottom .shij{
    color:#ff5726;
    font-size:0.2rem;
    margin-top:0.64rem;
}

/*详情快*/
.xqb{
    width:7.02rem;
    height:4.54rem;
    box-sizing: border-box;
    margin:2.2rem auto 0;
    border-radius:0.14rem;
    box-shadow:0 0 0.2rem 0.02rem #ffe9e6;  
}
.xqb .top{
    width:6.38rem;
    height:2.24rem;
    box-sizing: border-box;
    margin:0 auto;
    border-bottom:0.01rem solid #ebebeb;
    display:flex;
    align-items: center;
    justify-content:space-between; 
}
.xqb .top .l{
    height:1.6rem;
    width:1.6rem;
}
.xqb .top .l img{
    height:1.60rem;
    width:1.6rem;
}
.xqb .top .r{
    height:2.34rem;
    width:3.5rem;
    display:flex;
    flex-direction: column;
    justify-content:center; 
}
.xqb .top .r .dr{
    font-size:0.3rem;
    color:#4c4c4c; 
    margin-bottom:0.2rem;
}
.xqb .top .r .shu{
    font-size:0.24rem;
    color:#ff4c45; 
    margin-top:0.2rem;
}
.xqb .top .r .shu span{
    font-size:0.3rem;
    font-weight:bold;
}
.xqb .top .biao{
    height:1.6rem;
    width:0.7rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-end;
    font-size:0.2rem;
    color:#ccc;
}

.xqb .box1{
    width:6.38rem;
    height:0.5rem;
    box-sizing: border-box;
    margin:0.2rem auto 0;
    display:flex;
    align-items: center;
    justify-content:space-between; 
}
.xqb .box1 .l,.xqb .box1 .r{
    font-size:0.24rem;
    color:#7f7f7f; 
}
.xqb .box2{
    width:6.38rem;
    height:0.7rem;
    box-sizing: border-box;
    margin:0.3rem auto 0;
    display:flex;
    align-items: center;
    justify-content:space-between; 
}
.xqb .box2 .l,.xqb .box2 .r{
    font-size:0.30rem;
    color:#ff5751; 
}
.xqb .box2 .r span{
    font-size:0.36rem;
    font-weight:bold;
}

/*餐具*/
.canj{
    width:7.02rem;
    height:2.48rem;
    box-sizing: border-box;
    margin:0.22rem auto 0;
    border-radius:0.14rem;
    box-shadow:0 0 0.2rem 0.02rem #ffe9e6;   
}
.canj .top{
    width:6.38rem;
    height:0.7rem;
    box-sizing: border-box;
    margin:0rem auto 0;
    display:flex;
    align-items: center;
    justify-content:space-between; 
    position:relative;
}
.canj .top .sh{
    font-size:0.24rem;
    color:#7f7f7f; 
}

.canj .top .jiaj{
    height:0.8rem;
    width:1.2rem;
    box-sizing:border-box; 
    display:flex;
    align-items:center;
    justify-content:space-between;
    position: absolute;
    top:0.06rem;
    right:0rem;
}

.canj .top .jiaj .box{
    height:0.38rem;
    width:0.38rem;
  border-radius:0.4rem;
  background: #fff;
  box-shadow:0 0 0.24rem 0.02rem #FFF3EF;
  display:flex;
  align-items:center;
  justify-content:center;
}
.canj .top .jiaj .iconfont{
    font-size:0.2rem;
color:#FF4C45;
font-weight:bold;
}

.canj .top  .jiaj  span{
    color:#ff4c45;
    font-size: 0.3rem;
    font-weight:bold; 
}
.canj .bottom{
    width:6.38rem;
    height:1.6rem;
    box-sizing: border-box;
    margin:0rem auto 0;
    display:flex;
    align-items: center;
    justify-content:space-between; 
}
.canj .bottom .sh{
    font-size:0.24rem;
    color:#7f7f7f; 
    margin-top:-1.3rem;
}
.canj .bottom .bz{
    resize:none;
    display:block;
    width:5.66rem;
    height:1.34rem;
    border-radius: 0.16rem;
    background-color:#F2F2F2;
    border:0;
    outline:none;
}