body{
    background:#FEFEFE;

}
*{
    margin:0;
    padding:0;
    list-style: none;
}

.header{
    width:7.5rem;
    height:0.88rem;
    background:-webkit-linear-gradient(left,#FF3333 55%,#FF7A18);
    background:linear-gradient(left,#ff3333,#ff7a18);
    text-align: center;
    line-height:0.88rem;
    font-size:0.36rem;
    color:white;
    font-weight:bold;
    position: fixed;
    top:0;
    left:0;
}


/* 头像订单 */
.touBox{
    margin-top:0.88rem;
    width:7.5rem;
    height:5.75rem;
    background-image: url("../img/bguser.gif");
    background-size:cover;
    overflow:hidden;
    position:relative;
}
.touBox .self{
    width:2.7rem;
    height:3.2rem;
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    top:0.3rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.touBox .self img{
    width:2.4rem;
    height:2.4rem;
}
.touBox .self .userName{
    font-size:0.26rem;
    color:#FE492A;
}
.touBox .self .zhanghao{
    font-size:0.24rem;
    color:rgba(0, 0, 0,0.6);
}
.touBox .self .lis{
    font-size:0.24rem;
    color:#FE5625;
    position: absolute;
    top: 1.88rem;
    right:-1.68rem;
}
.touBox .baidi{
    width:7rem;
    height:3.35rem;
    background-color:#fff;
    margin:2rem auto 0;
    border-radius:0.1rem;
    box-shadow: 0 0 0.3rem 0.01rem rgba(255, 93, 35, 0.13);
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
}
.touBox .baidi .dingdan{
    width:6.6rem;
    height:1.35rem;
    border-top:0.01rem solid rgba(0, 0, 0,0.1);
    display:flex;
    justify-content:space-around;
}
.touBox .baidi .dingdan .dd{
    width:1.22rem;
    height:1.35rem;  
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    position: relative;
}
.touBox .baidi .dingdan .dd .iconfont{
    font-size:0.58rem;
    color:#FF5527;
}
.touBox .baidi .dingdan .dd p{
    font-size:0.24rem;
    color:#333;
    margin-top:-0.4rem;
}
.touBox .baidi .dingdan .dd .yuan{
    width:0.3rem;
    height:0.3rem;
    border-radius:0.2rem;
    background: #ff0000;
    color:white;
    text-align: center;
    line-height: 0.3rem;
    font-size:0.2rem;
    box-shadow: 0 0 0.16rem 0.02rem #ffdcd0;
    position: absolute;
    right:0.16rem;
    top:0.16rem;
}
/*个人中心*/
.box{
    width:7.02rem;
    height:1.0rem;
    padding:0 0.2rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #ccc;
    margin:0 auto;
  /*  display:flex;
    justify-content: space-between;
    align-items:center;*/
}
.box a{
    display:block;
    height:100%;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.box a .left{
    font-size: 0.3rem;
    color: #333;
}
.box a .right{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.box a .right .textl{
    font-size:0.2rem ;
    color: #333;
    margin-top: -0.04rem;
}
.box a .right .iconfont{
    font-size:0.2rem ;
    color: #999;
    margin-left:0.08rem;
}

/*footer*/
.footer{
    width:7.5rem;
    height:0.98rem;
    padding:0 0.24rem;
    border-top:0.01rem solid #D7D7D7;
    box-sizing: border-box;
    position: fixed;
    bottom:0;
    display:flex;
    justify-content:space-around;
    background:#FEFEFE;
}
.footer .box{
    height:0.98rem;
    width:1rem;
    padding:0;

}
.footer .box a{
    display:block;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    
}
.footer .box i{
    font-size:0.44rem;
    color:#989898;  
  /*  text-align: center;*/

}
.footer .box .text{
    font-size:0.18rem;
    color:#4C4C4C;

   /* text-align:center;*/
}